## Question 1

In [1]:
import pandas as pd

#replicating the example in the question by generating a list for each column
name =  ['Andy','Jose','Dieu','Chloe','Jose']
continent = ['America','Europe','Asia','America','Europe']
college = ['Lib Arts', 'Business', 'Engineering', 'Engineering', 'Business']

#zip the lists together and coarce it to a dataframe
cols = ['name', 'continent', 'college']
students = pd.DataFrame(data = list(zip(name,continent,college)), columns = cols)

### A) Write R or Pandas code to de-dup STUDENTS (1pt):

In [2]:
#since we want unique counts of student, I drop duplicate records below
#Setting inplace to True to overwrite the dataframe
students.drop_duplicates(inplace = True)

### B) Create a data frame COUNTS storing the count of students for each continent, college pair (2pts):

In [3]:
#Renames the frquency column from name to an intuitive column name
counts = students.pivot_table(index= ['college', 'continent'],values = ['name'], aggfunc={'name':'size'}).rename(columns = {'name':'student_counts'})
counts.reset_index(inplace = True)

### C) Pivot COUNTS so that continent values become column names (2pts)

In [4]:
counts = pd.pivot(counts, index='college', columns='continent', values='student_counts')

### D) If applicable, remove any unnecessary index levels created in part C (1pts):

In [5]:
counts.reset_index(inplace = True)

### E) Zero-fill missing values in COUNTS (1pt):

In [6]:
counts.fillna(0, inplace = True)
counts

continent      college  America  Asia  Europe
0             Business      0.0   0.0     1.0
1          Engineering      1.0   1.0     0.0
2             Lib Arts      1.0   0.0     0.0

### F) Sort COUNTS reverse alphabetically by college name (1pt):

In [7]:
counts.sort_index(ascending=False, inplace = True)